/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;

}


table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #ccc;
    padding: 0 5px;
}
.align-left {text-align: left;}
.align-right{text-align: right;}

.main p{
    color: #777;
    text-align: center;
}

.bi-star {color: #ccc;}
.bi-star-fill {color: green;}
.bi-check-square-fill {color: green;}

.erro {color: red;}
.sucesso {color:green;}


/* ESCONDER SEÇÕES*/
section.principal {display: none;}
section.jogadores {display: none;}

/* HEADER RESPONSIVO */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #141414;
    color: white;
}

.header a {color: white;}

/* INPUT JOGADOR */

    .jogador__input__name {
        display: block;
        width: 100%;
        margin: 2% auto;
        border-bottom: 2px solid green;
        padding: 5px;
    }   

/* NÍVEL */

.jogador__nivel__star {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* SORTEIO */

.sortear__btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.sortear #resultado-sorteado h2{
    font-size: 1em;
    background: greenyellow;
    padding: 5px;
}
.sortear #resultado-sorteado p{
    font-size: 1em;
    padding-left: 5px;
}

/* RESPONSIVO */
@media (max-width: 720px) {
    .header { flex-wrap: wrap; }
    .jogador__nivel label { font-size: 0.8em; }
}