/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

nav, ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

.hero {
    /* Posicionamento */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* dimensões */
    min-height: 100%;

    /* aparência */
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* tipografia */
    color: white;
    text-align: left;

    /* trasnformações */
    /* text-transform: uppercase; */
}

.hero__tema {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    line-height: 0.8;
}
.hero h1 {
    font-size: 2rem;
}
.hero h2 {
    font-size: 5rem;
}

.hero__button {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
}
.hero__button button {
    display: flex;
    text-align: left;
    border: none;
    border-radius: 5px;
    background: green;
    padding: 2px 10px;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.333);
}
.hero__button img {
    margin-right: 10px;
}

.hero iframe {
    margin-top: 20px;
    background: white;
    height: auto;
    width: 90%;
}

